<div *ngIf="!editMode"  class="row align-items-center">
  <div class="col-4">
    {{ creditCard.nameHolder | uppercase }}
  </div>
  <div class="col-4">
    {{ creditCard.cardNumber | creditCardDisplay }}
  </div>
  <div class="col-1">
    {{ creditCard.dateExp }}
  </div>
  <div class="col-1">
    <button class="btn btn-outline-info" (click)="editCreditCard()"><i class="fa fa-pencil"></i></button>
  </div>
  <div class="col-1">
    <button class="btn btn-outline-danger"  (click)="removeCreditCard()"><i class="fa fa-minus"></i></button>
  </div>
</div>


<div *ngIf="editMode" class="row">

  <div class="row">
    <span class="col-5 text-right">Credit Card Holder</span>
    <span class="col-7 text-left">{{ creditCard.nameHolder | uppercase }}</span>
  </div>
  <div class="row">
    <span class="col-5 text-right">Credit Card Number</span>
    <span class="col-7 text-left">{{ creditCard.cardNumber | creditCardDisplay }}</span>
  </div>
  <div class="row">
    <label for="expDateInput" class="col-5 text-right">Exp. Date</label>
    <input id="expDateInput" class="col-7 text-left" pattern="\+d{2}\/d{2}" [(ngModel)]="creditCard.dateExp">
  </div>

  <div class="row align-baseline justify-content-end">
    <button class="btn btn-outline-warning" (click)="saveCreditCard()"><i class="fa fa-save"></i></button>
  </div>
</div>