<br>
<br>
<div class="row">
  <div class="card col-10 offset-1">

    <div class="card-header">
      <h4><span><i class="fa fa-credit-card"></i> Credit Cards List</span></h4>
    </div>

    <div class="card-block">
      <div *ngFor="let creditItem of creditCardList">
        <app-credit-card-details [creditCard]="creditItem"></app-credit-card-details>
      </div>
    </div>
    <div class="card-footer">
      <div class="row align-items-end justify-content-end">

        <button class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>

      </div>
    </div>
  </div>
</div>


