<br>
<div class="flex-center" style="height: 100vh">
  <div class="row">

    <div class="jumbotron col-8 offset-2">

      <div class="container">

          <div *ngIf="!isLoggedIn">
            <h1 class="display-3">Hello!</h1>
            <p class="lead">You are not logged in.</p>
            <hr class="my-4">
            <p>To use the power of our service and get access to your wallet you need to login, or subscribe.</p>
            <p class="row justify-content-end">
              <a class="btn btn-primary btn-lg" role="button" routerLink="/login"
                 routerLinkActive="active-link">Login</a>
            </p>
            <div class="row align-items-end justify-content-start">
              <p>Not a member? <a routerLink="/signup">Sign Up</a></p>
            </div>
          </div>

          <div *ngIf="isLoggedIn">
            <h1 class="display-3">Hello {{ userDetail.username }}!</h1>
            <p class="lead">You are logged in.</p>
            <hr class="my-4">
            <p>Now you can use the power of our service and get access to your wallet.</p>
            <div class="row justify-content-between">

              <button class="btn btn-outline-primary btn-lg" role="button" (click)="OnOpenWallets()">Go to Wallet</button>
              <button class="btn btn-primary btn-lg" role="button" (click)="OnOpenSearch()">Search</button>
            </div>
            <p class="row justify-content-start"> </p>
          </div>

      </div>


    </div>
  </div>
</div>


