<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">eWallet</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="/credit-cards">Credit Cards</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="/credit-cards/search">Search</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="/credit-cards/add">Add New</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="isLoggedIn" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="OnLogout()">Logout</button>
      <button *ngIf="!isLoggedIn" class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLinkActive="active-link" routerLink="/login">Login</button>
    </form>
  </div>
</nav>
